{% extends 'base.html' %}

{% block content %}

<section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="{% url 'dashboard' %}">App</a></li>
            <li>Dashboard</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h4 class="title is-4">
            Dashboard
          </h4></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="card has-table has-mobile-sort-spaced tile is-child">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-finance"></i></span>
              Top 5 Positions
            </p>
          </header>
          <div class="card-content">
            <div class="b-table">
              <div class="table-wrapper">
                <table class="table is-narrow is-fullwidth is-striped is-hoverable is-sortable">
                  <tbody>
                    {% if top_positions %}
                    {% for position in top_positions %}
                    <tr>
                      <td data-label="Blockchain">
                        <span class="icon">
                          <figure class="image is-128x128">
                            <img class="is-rounded" src="/static/img/{{ position.contract.blockchain.icon }}" />
                          </figure> <!-- FontAwesome icon -->
                        </span>
                      </td>
                      <td data-label="Position">
                          <span><small>{{ position.contract.name|truncatechars:18 }}</small></span>
                      </td>
                      <td data-label="Amount (%)" class="has-text-right"><small>{{ position.amount|floatformat:"-2g" }} ({{ position.percentage |floatformat:"-2g" }}%)</small></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="is-empty">
                      <td colspan="2">
                        <section class="section">
                          <div class="content has-text-grey has-text-centered">
                            <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
                            <p>Nothing's there…</p>
                          </div>
                        </section>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card has-table has-mobile-sort-spaced tile is-child">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-finance"></i></span>
              Top 5 Blockchains
            </p>
          </header>
          <div class="card-content">
            <div class="b-table">
              <div class="table-wrapper">
                <table class="table is-narrow is-fullwidth is-striped is-hoverable is-sortable">
                  <tbody>
                    {% if top_blockchains %}
                    {% for blockchain in top_blockchains %}
                    <tr>
                      <td data-label="Blockchain">
                        <span class="icon">
                          <figure class="image is-128x128">
                            <img class="is-rounded" src="/static/img/{{ blockchain.icon }}" />
                          </figure> <!-- FontAwesome icon -->
                        </span>
                      </td>
                      <td data-label="Blockchain">
                          <span><small>{{ blockchain.name|truncatechars:18 }}</small></span>
                      </td>
                      <td data-label="Amount (%)" class="has-text-right"><small>{{ blockchain.amount|floatformat:"-2g" }} ({{ blockchain.percentage |floatformat:"-2g" }}%)</small></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="is-empty">
                      <td colspan="2">
                        <section class="section">
                          <div class="content has-text-grey has-text-centered">
                            <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
                            <p>Nothing's there…</p>
                          </div>
                        </section>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card has-table has-mobile-sort-spaced tile is-child">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-finance"></i></span>
              Top 5 Gain
            </p>
          </header>
          <div class="card-content">
            <div class="b-table">
              <div class="table-wrapper">
                <table class="table is-narrow is-fullwidth is-striped is-hoverable is-sortable">
                  <tbody>
                    {% if top_transactions_gain %}
                    {% for transaction in top_transactions_gain %}
                    <tr>
                      <td data-label="Blockchain">
                        <span class="icon">
                          <figure class="image is-128x128">
                            <img class="is-rounded" src="/static/img/{{ transaction.icon }}" />
                          </figure> <!-- FontAwesome icon -->
                        </span>
                      </td>
                      <td data-label="Position">
                        <span><small>{{ transaction.contract.name|truncatechars:16 }}</small></span>
                    </td>
                      <td data-label="Date" class="is-narrow">
                        <span><small class="has-text-grey is-abbr-like">{{ transaction.date|date:"SHORT_DATE_FORMAT" }}</small></span>
                      <td data-label="Gain" class="has-text-right"><small>{{ transaction.capital_gain|floatformat:"-2g" }}</small></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="is-empty">
                      <td colspan="2">
                        <section class="section">
                          <div class="content has-text-grey has-text-centered">
                            <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
                            <p>Nothing's there…</p>
                          </div>
                        </section>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="card has-table has-mobile-sort-spaced tile is-child">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-finance"></i></span>
              Top 5 Loss
            </p>
          </header>
          <div class="card-content">
            <div class="b-table">
              <div class="table-wrapper">
                <table class="table is-narrow is-fullwidth is-striped is-hoverable is-sortable">
                  <tbody>
                    {% if top_transactions_loss %}
                    {% for transaction in top_transactions_loss %}
                    <tr>
                      <td data-label="Blockchain">
                        <span class="icon">
                          <figure class="image is-128x128">
                            <img class="is-rounded" src="/static/img/{{ transaction.icon }}" />
                          </figure> <!-- FontAwesome icon -->
                        </span>
                      </td>
                      <td data-label="Position">
                        <span><small>{{ transaction.contract.name|truncatechars:16 }}</small></span>
                    </td>
                      <td data-label="Date" class="is-narrow">
                        <span><small class="has-text-grey is-abbr-like">{{ transaction.date|date:"SHORT_DATE_FORMAT" }}</small></span>
                      <td data-label="Loss" class="has-text-right"><small>{{ transaction.capital_gain|floatformat:"-2g" }}</small></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="is-empty">
                      <td colspan="2">
                        <section class="section">
                          <div class="content has-text-grey has-text-centered">
                            <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
                            <p>Nothing's there…</p>
                          </div>
                        </section>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-finance"></i></span>
          Performance
        </p>
      </header>
      <div class="card-content">
        <div class="chart-area">
          <div style="height: 100%;">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div></div>
              </div>
            </div>
            <canvas id="big-line-chart" width="2992" height="1000" class="chartjs-render-monitor" style="display: block; height: 400px; width: 1197px;"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="card has-table has-mobile-sort-spaced">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-view-list"></i></span>
          Wallets
        </p>
        <div class="buttons is-right">
          <button type="button" data-target="add-wallet-modal" class="button is-small jb-modal" style="margin-right: .75rem; display: inline-flex; align-self: center;">
            <span class="icon"><i class="mdi mdi-plus-circle"></i></span>
            <span>Add</span>
          </button>
        </div>
      </header>
      <div class="card-content">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">
            <table class="table is-fullwidth is-striped is-hoverable is-sortable">
              <thead>
                <tr>
                  <th>Address</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Balance</th>
                  <th>Created</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% if page_wallets %}
                {% for wallet in page_wallets %}
                <tr>
                  <td data-label="Address">
                      <span>{{ wallet.address|truncatechars:25 }}</span>
                  </td>
                  <td data-label="Name">{{ wallet.name }}</td>
                  <td data-label="Description">{{ wallet.description|truncatechars:25 }}</td>
                  <td data-label="Balance">{{ wallet.balance|floatformat:"-2g" }} <small class="has-text-grey">({{ wallet.percentage|floatformat:"-2g" }}%)</small></td>
                  <!-- <td id="status_{{ wallet.id }}" data-task-id="{{ wallet.wallet_process.download_task }}">
                      Checking status...
                  </td> -->
                  <td data-label="Created">
                    <small class="has-text-grey is-abbr-like">{{ wallet.created_at }}</small>
                  </td>
                  <td class="is-actions-cell">
                    <div class="buttons is-right">
                      <a id="status_download_{{ wallet.id }}" data-task-download-id="{{ wallet.wallet_process.download_task }}" href="{% url 'sync_wallet' wallet.id %}" class="button is-small is-primary" type="button">
                        Download
                      </a>
                      <a href="{% url 'wallet-positions-by-page' wallet.id 1 %}" class="button is-small is-primary" type="button">
                        Details
                      </a>
                      <a href="{% url 'delete_wallet' wallet.id %}" class="button is-small is-danger" type="button">
                        Delete
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="is-empty">
                  <td colspan="5">
                    <section class="section">
                      <div class="content has-text-grey has-text-centered">
                        <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
                        <p>Nothing's there…</p>
                      </div>
                    </section>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          {% block pagination %}
          <div class="notification">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <div class="buttons has-addons">
                    {% if page_wallets.has_previous %}
                    <a type="button" class="button" href="{% url 'dashboard' page_wallets.previous_page_number %}">Prev.</a>

                    {% if page_wallets.number > 3 %}
                    <a type="button" class="button" href="{% url 'dashboard' 1 %}">1</a>
                    {% if page_wallets.number > 4 %}
                    <span class="button is-static">...</span>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% for num in page_wallets.paginator.page_range %}
                    {% if page_wallets.number == num %}
                    <a type="button" class="button is-active" href="{% url 'dashboard' num %}">{{ num }}</a>
                    {% elif num > page_wallets.number|add:'-3' and num < page_wallets.number|add:'3' %} <a type="button" class="button" href="{% url 'dashboard' num %}">{{ num }}</a>
                      {% endif %}
                      {% endfor %}

                      {% if page_wallets.has_next %}
                      {% if page_wallets.number < page_wallets.paginator.num_pages|add:'-3' %} <span class="button is-static">...</span>
                        <a type="button" class="button" href="{% url 'dashboard' page_wallets.paginator.num_pages %}">{{ page_wallets.paginator.num_pages }}</a>
                        {% elif page_wallets.number < page_wallets.paginator.num_pages|add:'-2' %} <a type="button" class="button" href="{% url 'dashboard' page_wallets.paginator.num_pages %}">{{ page_wallets.paginator.num_pages }}</a>
                          {% endif %}

                          <a type="button" class="button" href="{% url 'dashboard' page_wallets.next_page_number %}">Next</a>
                          {% endif %}

                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <small>Page {{page_wallets.number}} of {{ page_wallets.paginator.num_pages }}</small>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </section>

  <div id="add-wallet-modal" class="modal">
    <div class="modal-background jb-modal-close"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add a wallet</p>
        <button class="add jb-modal-close" aria-label="close"></button>
      </header>
      <form method="POST">
        <section class="modal-card-body">
  
          {% csrf_token %}
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Address</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Address" maxlength="150" id="id_address" name="address" required>
                  <span class="icon is-small is-left"><i class="mdi mdi-pencil"></i></span>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Name" maxlength="150" id="id_name" name="name">
                  <span class="icon is-small is-left"><i class="mdi mdi-pencil"></i></span>
                </p>
              </div>
            </div>
          </div>
  
        </section>
        <footer class="modal-card-foot">
          <button class="button jb-modal-close">Cancel</button>
          <button class="button is-primary jb-modal-close">Save</button>
        </footer>
      </form>
    </div>
    <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
  </div>
  
{% endblock %}