{% extends 'base.html' %}

{% block content %}

<script>
  function blacklistContract(contractId) {
    fetch(`/blacklist_contract/${contractId}/`, {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({})
    })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          location.reload();  // Refresh the page
        } else {
          alert('Failed to blacklist contract.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
</script>

<section class="section is-title-bar">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <ul>
          <li>App</li>
          <li>Positions</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="hero is-hero-bar">
  <div class="hero-body">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h4 class="title is-4">
            Positions in {{ wallet.name }}
          </h4>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a href="{% url 'dashboard' %}" class="button">
            <span class="icon">
              <i class="mdi mdi-arrow-left"></i>
            </span>
            <span>Back</span>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-main-section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <p class="subtitle is-spaced is-6">
                  Total Amount
                </p>
                <p class="title is-4" style="margin-top: 6px; margin-bottom: 6px">
                  {{ wallet.balance|floatformat:"-2g" }}
                </p>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-danger">
                      <span class="icon">
                        <i class="mdi mdi-arrow-down"></i>
                      </span>
                      <span>1.99%</span>
                    </span>
                    <span class="tag is-dark">this month</span>
                  </div>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <p class="subtitle is-spaced is-6">
                  Total Realized Performance
                </p>
                <p class="title is-4" style="margin-top: 6px; margin-bottom: 6px">
                  ${{ total_realized_gain|floatformat:"-2g" }}
                </p>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-primary">
                      <span class="icon">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                      <span>99%</span>
                    </span>
                    <span class="tag is-dark">this month</span>
                  </div>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <p class="subtitle is-spaced is-6">
                  Total Unrealized Performance
                </p>
                <p class="title is-4" style="margin-top: 6px; margin-bottom: 6px">
                  {{ total_unrealized_gain|floatformat:"-2g" }}%
                </p>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-primary">
                      <span class="icon">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                      <span>33%</span>
                    </span>
                    <span class="tag is-dark">this month</span>
                  </div>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section is-main-section">
    <div class="card has-table has-mobile-sort-spaced">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-view-list"></i></span>
          Positions
        </p>
        <a href="{% url 'refresh_wallet_position_price' wallet.id %}" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">
            <table class="table is-fullwidth is-striped is-hoverable is-sortable">
              <thead>
                <tr>
                  
                  <th>Token</th>
                  <th></th>
                  <th class="has-text-right">Daily</th>
                  <th class="has-text-right">Weekly</th>
                  <th class="has-text-right">Monthly</th>
                  <th class="has-text-right">Price</th>
                  <th class="has-text-right">Qty</th>
                  <th class="has-text-right">Amount</th>
                  <th class="has-text-right">Realized</th>
                  <th class="has-text-right">Unrealized</th>
                  <th class="has-text-right">Progress</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% if page_positions %}
                {% for position in page_positions %}
                {% with total_transaction=position.position_transactions.count %}
                <tr>
                  
                  <td data-label="Token">{% if position.contract.category == "suspicious" %}<span class="icon"><i class="mdi mdi-alert-circle"></i></span>{% endif %}{{ position.contract.symbol }} - {{ position.contract.name }}</td>
        
                  <td><div class="tooltip">
                    <span class="icon">
                      <figure class="image is-128x128">
                        <img class="is-rounded" src="/static/img/{{ position.contract.blockchain.icon }}" />
                      </figure> <!-- FontAwesome icon -->
                    </span>
                    <span class="tooltiptext">{{ position.contract.address }}</span> <!-- Full string in the tooltip -->
                  </div></td>
                  <td data-label="Daily" class="has-text-right">{% if position.daily_price_delta == 0 %}
                    {% elif position.daily_price_delta < 0 %} <span class="tag is-danger">{{ position.daily_price_delta|floatformat:"-2g" }}%</span>
                      {% else %}
                      <span class="tag is-primary">{{ position.daily_price_delta|floatformat:"-2g" }}%</span>
                      {% endif %}
                  </td>
                  <td data-label="Weekly" class="has-text-right">{% if position.weekly_price_delta == 0 %}
                    {% elif position.weekly_price_delta < 0 %} <span class="tag is-danger">{{ position.weekly_price_delta|floatformat:"-2g" }}%</span>
                      {% else %}
                      <span class="tag is-primary">{{ position.weekly_price_delta|floatformat:"-2g" }}%</span>
                      {% endif %}
                  </td>
                  <td data-label="Monthly" class="has-text-right">{% if position.monthly_price_delta == 0 %}
                    {% elif position.monthly_price_delta < 0 %} <span class="tag is-danger">{{ position.monthly_price_delta|floatformat:"-2g" }}%</span>
                      {% else %}
                      <span class="tag is-primary">{{ position.monthly_price_delta|floatformat:"-2g" }}%</span>
                      {% endif %}
                  </td>
                  <td data-label="Price" class="has-text-right">${{ position.contract.price|floatformat:"-2g" }}</td>
                  <td data-label="Qty" class="has-text-right">{{ position.quantity|floatformat:"-6g" }}</td>
                  <td data-label="Amount" class="has-text-right">${{ position.amount|floatformat:"-2g" }}</td>
                  <td data-label="Realized" class="has-text-right">{% if position.realized_gain == 0 %}
                    {% elif position.realized_gain < 0 %} <span class="tag is-danger">${{ position.realized_gain|floatformat:"-2g" }}</span>
                      {% else %}
                      <span class="tag is-primary">${{ position.realized_gain|floatformat:"-2g" }}</span>
                      {% endif %}
                  </td>
                  <td data-label="Unrealized" class="has-text-right">{% if position.unrealized_gain == 0 %}
                    {% elif position.unrealized_gain < 0 %} <span class="tag is-danger">${{ position.unrealized_gain|floatformat:"-2g" }}</span>
                      {% else %}
                      <span class="tag is-primary">${{ position.unrealized_gain|floatformat:"-2g" }}</span>
                      {% endif %}
                  </td>
                  <td data-label="Progress" class="has-text-right">
                    {{ position.progress_percentage|floatformat:"-2g" }}%
                  </td>
                  <td class="is-actions-cell">
                    <div class="buttons is-right">
                      <a href="{% url 'position-transactions-by-page' position.id 1 %}" class="button is-small is-primary" type="button">
                        Details
                      </a>
                      <button class="button is-small is-danger" type="button" onclick="blacklistContract({{ position.contract.id }})">
                        Suspicious
                      </button>
                    </div>
                  </td>
                </tr>
                {% endwith %}
                {% endfor %}
                {% else %}
                <tr class="is-empty">
                  <td colspan="12">
                    <section class="section">
                      <div class="content has-text-grey has-text-centered">
                        <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
                        <p>Nothing's there…</p>
                      </div>
                    </section>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          {% block pagination %}
          <div class="notification">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <div class="buttons has-addons">
                    {% if page_positions.has_previous %}
                    <a type="button" class="button" href="{{ page_positions.previous_page_number }}">Prev.</a>

                    {% if page_positions.number > 3 %}
                    <a type="button" class="button" href="1">1</a>
                    {% if page_positions.number > 4 %}
                    <span class="button is-static">...</span>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% for num in page_positions.paginator.page_range %}
                    {% if page_positions.number == num %}
                    <a type="button" class="button is-active" href="{{ num }}">{{ num }}</a>
                    {% elif num > page_positions.number|add:'-3' and num < page_positions.number|add:'3' %} <a type="button" class="button" href="{{ num }}">{{ num }}</a>
                      {% endif %}
                      {% endfor %}

                      {% if page_positions.has_next %}
                      {% if page_positions.number < page_positions.paginator.num_pages|add:'-3' %} <span class="button is-static">...</span>
                        <a type="button" class="button" href="{{ page_positions.paginator.num_pages }}">{{ page_positions.paginator.num_pages }}</a>
                        {% elif page_positions.number < page_positions.paginator.num_pages|add:'-2' %} <a type="button" class="button" href="{{ page_positions.paginator.num_pages }}">{{ page_positions.paginator.num_pages }}</a>
                          {% endif %}

                          <a type="button" class="button" href="{{ page_positions.next_page_number }}">Next</a>
                          {% endif %}

                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <small>Page {{page_positions.number}} of {{ page_positions.paginator.num_pages }}</small>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </section>


  {% endblock %}