{% extends 'base.html' %}

{% block content %}

<section class="section is-title-bar">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <ul>
          <li>App</li>
          <li>Transactions</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="hero is-hero-bar">
  <div class="hero-body">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h4 class="title is-4">
            Transactions for position {{ position.contract }}
          </h4>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <a href="{% url 'wallet-positions-by-page' wallet.id 1 %}" class="button">
            <span class="icon">
              <i class="mdi mdi-arrow-left"></i>
            </span>
            <span>Back</span>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-main-section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <p class="subtitle is-spaced is-6">
                  Amount
                </p>
                <p class="title is-4" style="margin-top: 6px; margin-bottom: 6px">
                  {{ position_amount|floatformat:"-2g" }}
                </p>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-danger">
                      <span class="icon">
                        <i class="mdi mdi-arrow-down"></i>
                      </span>
                      <span>1.99%</span>
                    </span>
                    <span class="tag is-dark">this month</span>
                  </div>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-label">
                  <p class="subtitle is-spaced is-6">
                    Market Price
                  </p>
                  <p class="title is-4" style="margin-top: 6px; margin-bottom: 6px">
                    {{ contract.price|floatformat:"-2g" }}
                  </p>
                  <div class="control">
                    <div class="tags has-addons">
                      {% if position_kpi.monthly_price_delta == 0 %}
                        <span class="tag is-grey">
                          <span class="icon">
                          </span>
                          <span>- %</span>
                        </span>
                      {% elif position_kpi.monthly_price_delta < 0 %}
                      <span class="tag is-danger">
                        <span class="icon">
                          <i class="mdi mdi-arrow-down"></i>
                        </span>
                        <span>{{ position_kpi.monthly_price_delta|floatformat:"-2g" }}%</span>
                      </span>
                      {% else %}
                      <span class="tag is-primary">
                        <span class="icon">
                          <i class="mdi mdi-arrow-up"></i>
                        </span>
                        <span>{{ position_kpi.monthly_price_delta|floatformat:"-2g" }}%</span>
                      </span>
                      {% endif %}
                      <span class="tag is-dark">this month</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <p class="subtitle is-spaced is-6">
                  Total Realized Performance
                </p>
                <p class="title is-4" style="margin-top: 6px; margin-bottom: 6px">
                  ${{ total_realized_gain|floatformat:"-2g" }}
                </p>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-primary">
                      <span class="icon">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                      <span>11.04%</span>
                    </span>
                    <span class="tag is-dark">this month</span>
                  </div>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <p class="subtitle is-spaced is-6">
                  Total Unrealized Performance
                </p>
                <p class="title is-4" style="margin-top: 6px; margin-bottom: 6px">
                  {{ total_unrealized_gain|floatformat:"-2g" }}%
                </p>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-primary">
                      <span class="icon">
                        <i class="mdi mdi-arrow-up"></i>
                      </span>
                      <span>99.99%</span>
                    </span>
                    <span class="tag is-dark">this month</span>
                  </div>
                </div>
              </div>
              <div class="level-item has-widget-icon">
                <div class="is-widget-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-view-list"></i></span>
        Transactions
      </p>
      <a type="button" class="button is-small" style="margin-right: .75rem; display: inline-flex; align-self: center;" href="{% url 'export_transactions_csv' position.id %}">
        <span class="icon">
          <i class="mdi mdi-file-excel"></i>
        </span>
        <span>Export</span>
</a>
      
    </header>
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table class="table is-fullwidth is-striped is-hoverable is-sortable">
            <thead>
              <tr>
                <th></th>
                <th>Type</th>
                <th>Blockchain</th>
                <th>Quantity</th>
                <th>Run.Qty</th>
                <th>Price</th>
                <th>Cost</th>
                <th></th>
                <th>Tot.Cost</th>
                <th>Avg.Cost</th>
                <th>Cap.Gain</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% if page_transactions %}
              {% for transaction in page_transactions %}
              <tr>
                <td><a href="{{ transaction.link }}" target="_blank" class="icon">
                  <i class="mdi mdi-link"></i>
              </a></td>
                <td data-label="Type">{% if transaction.type == 'IN' %}
                  <span class="tag is-primary">{{ transaction.type }}</span>
                  {% else %}
                  <span class="tag is-danger">{{ transaction.type }}</span>
                  {% endif %}
                </td>
                <td data-label="Blockchain"><span class="icon">
                  <figure class="image is-128x128">
                    <img class="is-rounded" src="/static/img/{{ position.contract.blockchain.icon }}" />
                  </figure> <!-- FontAwesome icon -->
                </span></td>
                <td data-label="Quantity">{{ transaction.quantity|floatformat:"-6g" }}</td>
                <td data-label="Running Quantity">{{ transaction.running_quantity|floatformat:"-6g" }}</td>
                <td data-label="Price">{{ transaction.price_contract_based|floatformat:"-6g" }}</td>
                <td data-label="Cost">{{ transaction.cost_contract_based|floatformat:"-2g" }}</td>
                <td data-label="CostSymbol">{{ transaction.against_contract.symbol }}</td>
                <td data-label="Total Cost">{{ transaction.total_cost_contract_based|floatformat:"-2g" }}</td>
                <td data-label="Average Cost">{{ transaction.avg_cost_contract_based|floatformat:"-2g" }}</td>
                <td data-label="Capital Gain">{% if transaction.capital_gain_contract_based == 0 %}
                  {% elif transaction.capital_gain_contract_based < 0 %} <span class="tag is-danger">{{ transaction.capital_gain_contract_based|floatformat:"-2g" }}</span>
                    {% else %}
                    <span class="tag is-primary">{{ transaction.capital_gain_contract_based|floatformat:"-2g" }}</span>
                    {% endif %}
                </td>
                <td data-label="Date" class="is-narrow"><small class="has-text-grey is-abbr-like">{{ transaction.date }}</small></td>
              </tr>
              {% endfor %}
              {% else %}
              <tr class="is-empty">
                <td colspan="12">
                  <section class="section">
                    <div class="content has-text-grey has-text-centered">
                      <p><span class="icon is-large"><i class="mdi mdi-emoticon-sad mdi-48px"></i></span></p>
                      <p>Nothing's there…</p>
                    </div>
                  </section>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        {% block pagination %}
        <div class="notification">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <div class="buttons has-addons">
                  {% if page_transactions.has_previous %}
                  <a type="button" class="button" href="{{ page_transactions.previous_page_number }}">Prev.</a>

                  {% if page_transactions.number > 3 %}
                  <a type="button" class="button" href="1">1</a>
                  {% if page_transactions.number > 4 %}
                  <span class="button is-static">...</span>
                  {% endif %}
                  {% endif %}
                  {% endif %}
                  {% for num in page_transactions.paginator.page_range %}
                  {% if page_transactions.number == num %}
                  <a type="button" class="button is-active" href="{{ num }}">{{ num }}</a>
                  {% elif num > page_transactions.number|add:'-3' and num < page_transactions.number|add:'3' %} <a type="button" class="button" href="{{ num }}">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if page_transactions.has_next %}
                    {% if page_transactions.number < page_transactions.paginator.num_pages|add:'-3' %} <span class="button is-static">...</span>
                      <a type="button" class="button" href="{{ page_transactions.paginator.num_pages }}">{{ page_transactions.paginator.num_pages }}</a>
                      {% elif page_transactions.number < page_transactions.paginator.num_pages|add:'-2' %} <a type="button" class="button" href="{{ page_transactions.paginator.num_pages }}">{{ page_transactions.paginator.num_pages }}</a>
                        {% endif %}

                        <a type="button" class="button" href="{{ page_transactions.next_page_number }}">Next</a>
                        {% endif %}

                </div>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <small>Page {{page_transactions.number}} of {{ page_transactions.paginator.num_pages }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
</section>

{% endblock %}