{% extends 'base_autocomplete.html' %}
{% load static %}
{% block title %}
{{ wallet.address }}
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-mobile is-vcentered">
            <div class="column is-half">
            </div>

            <div class="column is-half has-text-right">
                <h4 class="title is-4">{{ position.contract }} ({{ position.contract.symbol }})</h4>
                <h5 class="subtitle is-5">{{ position.contract.address }}</h5>
            </div>

        </div>


    </div>
    <br>

    <div class="container">

        <!-- <p>Solde: {{ monportefeuille.solde_actuel }}</p>
        <p>Ouvert depuis le: {{ monportefeuille.date_creation }}</p> -->

        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Qty</th>
                    <th>Run.Qty</th>
                    <!-- <th>Buy.Qty</th>
                    <th>Sell.Qty</th> -->
                    <th>Price</th>
                    <th>Cost</th>
                    <th></th>
                    <th>Tot.Cost</th>
                    <th>Avg.Cost</th>
                    <th>Cap.Gain</th>
                </tr>
            </thead>
            {% for transaction in transactions %}
            <tr>
                <td class="is-vcentered is-narrow">
                    <span class="icon has-text-info" data-tooltip={{ transaction.hash }}>
                        <i class="fas fa-info-circle" ></i>
                      </span>
                </td>
                <td class="is-vcentered">
                    {{ transaction.date }}
                </td>
                <td>
                    {% if transaction.type == 'BUY' %}
                    <span class="tag is-success">{{ transaction.type }}</span>
                    {% elif transaction.type == 'DEP' %}
                    <span class="tag is-link">{{ transaction.type }}</span>
                    {% elif transaction.type == 'WTH' %}
                    <span class="tag is-link">{{ transaction.type }}</span>
                    {% else %}
                    <span class="tag is-danger">{{ transaction.type }}</span>
                    {% endif %}
                </td>
                <td class="is-vcentered">
                    {{ transaction.quantity|floatformat:"-6g" }}
                </td>
                <td class="is-vcentered">
                    {{ transaction.running_quantity|floatformat:"-6g" }}
                </td>
                <!-- <td class="is-vcentered">
                    {{ transaction.buy_quantity|floatformat:"-6g" }}
                </td>
                <td class="is-vcentered">
                    {{ transaction.sell_quantity|floatformat:"-6g" }}
                </td> -->
                <td class="is-vcentered">
                    {{ transaction.price_contract_based|floatformat:"-6g" }}
                </td>
                <td class="is-vcentered">
                    {{ transaction.cost_contract_based|floatformat:"-2g" }}
                </td>
                <td class="is-vcentered is-narrow">
                    {{ transaction.against_contract.symbol }}
                </td>
                <td class="is-vcentered">
                    {{ transaction.total_cost_contract_based|floatformat:"-2g" }}
                </td>
                <td class="is-vcentered">
                    {{ transaction.avg_cost_contract_based|floatformat:"-2g" }}
                </td>
                <td class="is-vcentered">

                    {% if transaction.capital_gain_percentage_contract_based == 0 %}
                    <span></span>
                    {% elif transaction.capital_gain_percentage_contract_based < 0 %}
                    <span class="tag is-danger">{{ transaction.capital_gain_percentage_contract_based|floatformat:"-2g" }}%</span>
                    {% else %}
                    <span class="tag is-success">{{ transaction.capital_gain_percentage_contract_based|floatformat:"-2g" }}%</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>


    </div>
</section>

{% endblock %}