{% extends 'base_autocomplete.html' %}
{% load static %}
{% block title %}
{{ wallet.address }}
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-mobile is-vcentered">
            <div class="column is-half">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field has-addons mb-2">
                        <div class="control">
                            <input class="input" id="contracts" name="address" type="text" placeholder="Search a contract">
<script> 
$( function() { 
    var availableContracts = [ 
        {% for contract in contracts %} 
            "{{contract.name}} [{{contract.address}}]", 
        {% endfor %} 
    ]; 
    $( "#contracts" ).autocomplete({ 
    source: availableContracts 
    }); 
} ); 
</script>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-dark">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="column is-half has-text-right">
                <h4 class="title is-4">{{ wallet.address }}</h4>
            </div>

        </div>


    </div>
    <br>

    <div class="container">

        <!-- <p>Solde: {{ monportefeuille.solde_actuel }}</p>
        <p>Ouvert depuis le: {{ monportefeuille.date_creation }}</p> -->

        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Address</th>
                    <th>Blockchain</th>
                    <th>#</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for position in positions %}
            <tr>
                <td class="is-vcentered">
                    {{ position.contract.name }}
                </td>
                <td class="is-vcentered">
                    {{ position.contract.address }}
                </td>
                <td class="is-vcentered">
                    <figure class="image is-32x32">
                        <img src="{% static position.contract.blockchain.icon %}">
                    </figure>
                    <!-- <button class="button is-success is-small">Success</span> -->
                </td>
                <td>
                    0
                </td>
                <td class="is-vcentered is-narrow">
                    <!-- {% if position.is_active %}
                    <button class="button is-danger is-outlined is-small">
                        <span><a href="{% url 'disable_position' position.id %}" style="color:inherit">Disable</a></span>
                        <span class="icon is-small">
                            <i class="fas fa-toggle-off"></i>
                        </span>
                    </button>
                    {% else %}
                    <button class="button is-success is-outlined is-small">
                        <span><a href="{% url 'enable_position' position.id %}" style="color:inherit">Enable</a></span>
                        <span class="icon is-small">
                            <i class="fas fa-toggle-on"></i>
                        </span>
                    </button>
                    {% endif %} -->

                    <button class="button is-dark is-outlined is-small">
                        <span><a href="{% url 'wallet' wallet.id %}" style="color:inherit">Details</a></span>
                        <span class="icon is-small">
                            <i class="fas fa-expand"></i>
                        </span>
                    </button>
                    <button class="button is-danger is-outlined is-small">
                        <span><a href="{% url 'delete_position' position.id %}" style="color:inherit">Delete</a></span>
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>


    </div>
</section>

{% endblock %}